#side-titel{
    color:white;
}

#logo{
    position: absolute;
    border: 5px solid black;
    border-radius: 50%;
    top: 15px;
    left: 45px
}
.menu{
    width: 40px;
    height:40px;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    background-color: red !important;
    border-top-right-radius: 25px;
}